@charset "utf-8";


.db_p {margin-top: 15px; }
.db_p img{ width: 100%; }


.db_btn {margin-left: 1%; margin-bottom:5px}
.db_btn img{ width: 100%; }

/* footer */
.footer{ width: 800px;  margin: 0 auto;  position: relative;}
.footer img{ display: block;}
.footer input{ vertical-align: middle;}
.footer .info{ background:url(../images_event19/footer_02.jpg) no-repeat center top; height: 288px; position: relative;}
.footer .info .info1{ position: absolute; top: 16px; left: 250px;}
.footer .info .info2{ position: absolute; top: 16px; left: 640px;}
.footer .info .info3{ position: absolute; top: 138px; left: 640px;}
.footer .info input[type='radio'] {width:15px;  height:15px; clip:unset; position: relative;}

/* 컨트롤러 전체 감추기 */
video::-webkit-media-controls { display:none !important; }

/* 컨트롤러 중 원하는 부분만 감추기 */

/* 전체화면 버튼 */ 
video::-webkit-media-controls-fullscreen-button { display: none !important;  } 
/* 일시정지, 재생 버튼 */ 
video::-webkit-media-controls-play-button { display: none !important;  } 
/* 재생 슬라이드..? */ 
video::-webkit-media-controls-timeline { display: none !important;  } 
/* 현재 진행 시간 */ 
video::-webkit-media-controls-current-time-display{ display: none !important; } 
/* 전체 시간 */ 
video::-webkit-media-controls-time-remaining-display { display: none !important; } 
/* 음소거 버튼 */ 
video::-webkit-media-controls-mute-button { display: none !important; } 
/* 볼륨 조절 슬라이드 */ 
video::-webkit-media-controls-volume-slider { display: none !important; } 
/* 볼륨 조절 슬라이드 */ 
video::-webkit-media-controls-volume-slider { display: none !important; } 



html { -webkit-text-size-adjust: none; }
body {margin: 0;padding: 0;font-size: 12px;font-family: Dotum, sans-serif;color:##2B2B2B;background: #fff;}
div,dl, dt, dd, ul, ol, li, h1, h2, h3, h4, form, fieldset, p, button {margin:0;padding:0;}
a{ font-family:"Dotum"; font-size:12px; text-decoration: none; color: #2B2B2B;}
dl,ul,ol,li {list-style:none;}
select{background-color:#ffffff;}
input,textarea{-webkit-box-sizing: border-box;}
input,select,textarea{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;border-radius:3px;}
input[type="number"],input[type="text"],input[type="email"],input[type="password"],textarea{-webkit-appearance: none;}
input[type='checkbox']{-webkit-appearance:checkbox;} 
input[type='radio']{-webkit-appearance:radio;}
input::placeholder {color: #d0d0d0;}
.clearfix {clear:both;}
.wrap{margin:0 auto;}
.H_100p{height:100%;}
.H_100p_Overlap{height:100%;-webkit-box-sizing:border-box;}
.Input_width_Size_Box{overflow:hidden;margin:0 auto;}
.Input_width_Size_Box1{overflow:hidden;margin:0 auto;}
.pd-b-10{
	padding-bottom:10px;
}



.check1 li{ float: left; font-size: 16px; font-weight: bold; margin-right: 25px;  }
 .check1 li em{ color:#878688; font-size: 18px; font-style: normal; } 
.check1 li input{ width: 18px; height: 18px; vertical-align:middle; margin-right: 5px; font-size: 20px; font-weight: bolder;}
.check1 li input[type="checkbox"] {
	-webkit-appearance: none;

	cursor: pointer;
	outline: none !important;
	border: 2px solid #2303d4;
	border-radius: 2px;
	background: #fbfbfb;
}

.check1 li input[type="checkbox"]::before {
	content: "\2714";
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	transform: scale(0) translate(-50%, -50%);
	line-height: 1;
}

.check1 li input[type="checkbox"]:checked {
	background-color: #fff;
	border-color: rgba(255, 255, 255, 0.3);
}

 .check1 li input[type="checkbox"]:checked::before {
	border-radius: 2px;
	transform: scale(1) translate(-50%, -50%)
}




.check2 li{ float: left; font-size: 16px; font-weight: bold; margin-right: 25px;  }
.check2 li em{ color:#878688; font-size: 18px; font-style: normal; } 
.check2 li input{ width: 18px; height: 18px; vertical-align:middle; margin-right: 5px; font-size: 20px; font-weight: bolder;}
/*.check2 li input[type="checkbox"] {
	-webkit-appearance: none;

	cursor: pointer;
	outline: none !important;
	border: 2px solid #2303d4;
	border-radius: 2px;
	background: #fbfbfb;
}

.check2 li input[type="checkbox"]::before {
	content: "\2714";
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	transform: scale(0) translate(-50%, -50%);
	line-height: 1;
}

.check2 li input[type="checkbox"]:checked {
	background-color: #fff;
	border-color: rgba(255, 255, 255, 0.3);
}

 .check2 li input[type="checkbox"]:checked::before {
	border-radius: 2px;
	transform: scale(1) translate(-50%, -50%)
}
*/


.Form_Title_Box{font-size:25px;font-weight:bold;color:#000000;margin-bottom:30px;text-align:center;}

@media screen and (min-width:400px){
.Input_width_Size_Box_In{padding:20px 70px 5px 70px;}
.Input_width_Size_Box_In1{padding:10px 20px 10px 20px;border-radius:20px;}
.Input_width_Size_Box_In2{padding:40px 40px 30px 40px;border-radius:20px;}
.Input_width_Size_Box_In3{padding:10px 20px 10px 20px;}

.Input_width_Size_Box_In5{padding:10px 20px 5px 20px;}

}
@media screen and (max-width:420px){
.Input_width_Size_Box_In{padding:20px 20px 10px 20px;border-radius:5px;}
.Input_width_Size_Box_In1{padding:10px 20px 10px 20px;border-radius:20px;}
.Input_width_Size_Box_In2{padding:20px 20px 10px 20px;border-radius:20px;}
.Input_width_Size_Box_In3{padding:10px 20px 10px 20px;}
}
.main_global{}
.main_base_global{}
.main_top_text{padding:10px 0;line-height:20px;max-width:800px;margin:0 auto;}
.input_style{width:80%;height:50px;text-indent:10px; margin-left: 40px;}
.input_style_tel{width:30%;height:40px;border:1px #a0a0a0 solid;text-indent:10px;}
.input_style_tel2{width:40%;height:40px;border:1px #a0a0a0 solid;text-indent:10px;}
.input_style_addr_box{overflow:hidden;}
.input_style_addr_box .input_box{float:left;width:-webkit-calc(100% - 100px);width:-moz-calc(100% - 100px);width:calc(100% - 100px);}
.input_style_addr_box .input_box input{border:1px #a0a0a0 solid;width:100%;height:40px;line-height:40px;text-indent:10px;}
.input_style_addr_box .input_button_box{float:right;border:1px #a0a0a0 solid;height:38px;width:90px;line-height:38px;text-align:center;background-color:#a0a0a0;}
.input_style_addr_box .input_button_box a{color:#ffffff;display:block;font-weight:bold;}
.input_checkbox_style{width:16px;height:16px;}
.textarea_style{width:100%;height:80px;padding:10px;border:1px #a0a0a0 solid;}
.float_left{float:left;}
.of-h{overflow:hidden;}
.pt-pr-3-10{padding:3px 10px 0 0;}
.main_policy{display:none;padding-bottom:10px;}
.main_htag{display:none;}
.blank_hidden{overflow:hidden;}
.pd-top-4{padding-top:4px;}
.pd-top-10{padding-top:;}
.mg-top-10{margin-top:10px;}
.total_bottom_line{border-bottom:1px #eeeeee solid;margin-bottom:10px;}
.main_button{height:60px;line-height:60px;background-color:#1562cf;text-align:center;margin-bottom:10px;border-radius:5px;}
.main_button a{color:#ffffff;font-weight:bold;display:block;font-size:18px;font-family:Dotum;}
@media screen and (max-width:420px){
	.main_button{height:50px;line-height:50px;background-color:#1562cf;text-align:center;margin-bottom:10px;border-radius:5px;}
	.main_button a{color:#ffffff;font-weight:bold;display:block;font-size:18px;}
}
.main_copyright{line-height:20px;text-align:center;}
.input_check_radio_title{float:left;line-height:40px;padding-right:20px;font-weight:bold;font-size:14px;}
.input_check_radio_contents{float:left;padding:8px 10px 0 0;font-size:14px;}
.Global_two_layout_left { width:100px;float:left;height:40px;line-height:40px;font-weight:bold;font-size:14px;}
.Global_two_layout_left1{ width:100px;float:left;height:40px;font-weight:bold;font-size:14px;display:table;}
.Global_two_layout_left1 .Center_Box{vertical-align:middle;display:table-cell;}
.Global_two_layout_right { float:left;height:40px;width:-webkit-calc(100% - 100px);width:-moz-calc(100% - 100px);width:calc(100% - 100px);}
.Global_layout_three_box_month_day{float:left;width:30%;}
.Global_layout_three_box_yaer{float:left;width:30%;}
.Global_layout_ken_5percent_d{float:left;width:5%;font-size:12px;line-height:40px;text-align:center;}
@media screen and (max-width:420px){
.Global_two_layout_left { width:100px;float:left;height:40px;line-height:40px;font-weight:bold;font-size:14px;}
.Global_two_layout_left1{ width:100px;float:left;height:40px;font-weight:bold;font-size:14px;display:table;}
.Global_two_layout_left1 .Center_Box{vertical-align:middle;display:table-cell;}
.Global_two_layout_right { float:left;height:40px;width:-webkit-calc(100% - 100px);width:-moz-calc(100% - 100px);width:calc(100% - 100px);}
.Global_layout_three_box_month_day{float:left;width:26%;}
.Global_layout_three_box_yaer{float:left;width:38%;}
.Global_layout_ken_5percent_d{float:left;width:5%;font-size:12px;line-height:40px;text-align:center;}
}
.Global_layout_form_box{width:80%;height:50px;border:1px #a0a0a0 solid;text-indent:10px; margin-left: 20px;}
.Global_layout_three_box{float:left;width:27%;}
.Global_layout_ken_5percent{float:left;width:1%;font-size:16px;line-height:40px;text-align:right;}
.landing_bold{font-weight:bold;}
.landing_size1{font-size:18px;line-height:30px;}
.landing_size3{font-size:11px;line-height:18px;}
.mlanding_size1{font-size:16px;line-height:30px;}
.mlanding_size3{font-size:11px;line-height:18px;}
.landing_sorting_left{text-align:left;}
.landing_sorting_center{text-align:center;}
.landing_sorting_right{text-align:right;}
.bg_color_box1{background-color:#5b07db;}
.bg_color_box2{background-color:#FF0B00;}
.bg_color_box3{background-color:#F33D0E;}
.bg_color_box4{background-color:#282828;}
.bg_color_box5{background-color:#5BB85D;}
.bg_color_box6{background-color:#B18151;}
.bg_color_box7{background-color:#3FC1CF;}
.Layer_Top_Follow_Box{position:fixed;z-index:999;width:100%;background-color:#ffffff;border-bottom:1px #F2F2F2 solid;filter:alpha(opacity=95);opacity: 0.95;}
.Layer_Top_Follow_Length{overflow:hidden;max-width:800px;margin:0 auto;}
.Layer_Top_Follow_Length .Landing_Title_Box{float:left;font-size:25px;font-weight:bold;font-family:malgun gothic;padding:10px 0;}
.Layer_Top_Follow_Length .Landing_Title_Box_Out{clear:both;font-size:25px;font-weight:bold;font-family:malgun gothic;padding:10px;}
.Layer_Top_Follow_Length .Landing_Button_Box{float:right;border-radius:20px;margin:10px 0;}
.Layer_Top_Follow_Length .Landing_Button_Box a{font-size:16px;font-weight:bold;color:#ffffff;display:block;padding:10px 20px;}
@media screen and (max-width:800px){
	.Layer_Top_Follow_Length .Landing_Title_Box{padding:10px;}
	.Layer_Top_Follow_Length .Landing_Button_Box{margin:10px;}
}
.W_Size_100p{width:100% !important;}
.W_Size_800px{}

.Q_W_Size_100p{width:100% !important;}
.Q_W_Size_100p .pd-top-10{padding-top:0px;}

@media screen and (min-width:420px){
	.Q_W_Size_800px{max-width:800px !important;}
	.Q_W_Size_800px .pd-top-10{padding-top:;}
}
@media screen and (max-width:420px){
	.Q_W_Size_800px{max-width:800px !important;}
	.Q_W_Size_800px .pd-top-10{padding-top:0px;}
	.Q_W_Size_800px .W_Size_800px{max-width:800px !important;}
	.Q_W_Size_100p .W_Size_800px{max-width:800px !important;padding:0 10px;}
}

.From_Background_Color1{background-color:#ffffff;}
.From_Background_Color2{background-color:#fafafa;}
.From_Background_Color1 .Color_Box{color:#000000;font-size:15px;}
.From_Background_Color1 .Title_explain_Global{padding-bottom:5px;text-align:left;color:#000000;font-size:12px}

.From_Background_Color2{background-color:#fff;}
.From_Background_Color2 .Color_Box{color:#000000;font-size:15px;}
.From_Background_Color2 .Title_explain_Global{padding-bottom:5px;text-align:left;color:#000000;font-size:12px}

.From_Background_Color3{background-color:#70B237;}
.From_Background_Color3 .Color_Box{color:#ffffff;font-size:15px;}
.From_Background_Color3 .Title_explain_Global{padding-bottom:5px;text-align:left;color:#ffffff;font-size:12px}

.From_Background_Color4{background-color:#2CA8DE;}
.From_Background_Color4 .Color_Box{color:#ffffff;font-size:15px;}
.From_Background_Color4 .Title_explain_Global{padding-bottom:5px;text-align:left;color:#ffffff;font-size:12px}

.From_Background_Color5{background-color:#E64519;}
.From_Background_Color5 .Color_Box{color:#ffffff;font-size:15px;}
.From_Background_Color5 .Title_explain_Global{padding-bottom:5px;text-align:left;color:#ffffff;font-size:12px}

.From_Background_Color6{background-color:#D5A3F8;}
.From_Background_Color6 .Color_Box{color:#ffffff;font-size:15px;}
.From_Background_Color6 .Title_explain_Global{padding-bottom:5px;text-align:left;color:#ffffff;font-size:12px}

.From_Background_Color7{background-color:#355AC5;}
.From_Background_Color7 .Color_Box{color:#ffffff;font-size:15px;}
.From_Background_Color7 .Title_explain_Global{padding-bottom:5px;text-align:left;color:#ffffff;font-size:12px}

.From_Background_Color8{background-color:#2B3953;}
.From_Background_Color8 .Color_Box{color:#ffffff;font-size:15px;}
.From_Background_Color8 .Title_explain_Global{padding-bottom:5px;text-align:left;color:#ffffff;font-size:12px}

.From_Background_Color9{background-color:#000000;}
.From_Background_Color9 .Color_Box{color:#ffffff;font-size:15px;}
.From_Background_Color9 .Title_explain_Global{padding-bottom:5px;text-align:left;color:#ffffff;font-size:12px}

.From_Round_Color1{border:5px #ffffff solid;}
.From_Round_Color2{border:5px #F8F8F8 solid;}
.From_Round_Color3{border:5px #70B237 solid;}
.From_Round_Color4{border:5px #2CA8DE solid;}
.From_Round_Color5{border:5px #E64519 solid;}
.From_Round_Color6{border:5px #D5A3F8 solid;}
.From_Round_Color7{border:5px #355AC5 solid;}
.From_Round_Color8{border:;}
.From_Round_Color9{border:5px #000000 solid;}

.Top_Right_Top_Button_Box{position:fixed;z-index:1001;right:0px;top:65px;padding:0 10px;text-align:center;display:;}
.Top_Right_Center_Button_Box{position:fixed;z-index:1001;right:0px;top:40%;padding:0 10px;text-align:center;display:;}
.Top_Right_Bottom_Button_Box{position:fixed;z-index:1001;right:0px;bottom:0px;padding:10px;text-align:center;display:;}
.Floating_Img_1{background: url(/img/floating/floating_1.png)}

.Floating_Img_2{background: url(/img/floating/floating_2.png)}

.Floating_Img_3{background: url(/img/floating/floating_3.png)}

.Floating_Img_4{background: url(/img/floating/floating_4.png)}

.Floating_Img_5{background: url(/img/floating/floating_5.png)}

.Floating_Img_6{background: url(/img/floating/floating_6.png)}

.Floating_Img_7{background: url(/img/floating/floating_7.png)}

.Floating_Img_8{background: url(/img/floating/floating_8.png?20190805)}

.Floating_Img_9{background: url(/img/floating/floating_9.png?20190805)}

.Floating_Img_10{background: url(/img/floating/floating_10.png?20190805)}

.Floating_Img_11{background: url(/img/floating/floating_11.png?20190805)}

.Floating_Img_12{background: url(/img/floating/floating_12.png?20190805)}

.Floating_Img_13{background: url(/img/floating/floating_13.png?20190805)}

.Floating_Img_14{background: url(/img/floating/floating_14.png?20190805)}

.Floating_Text_Color_3{color:#70B237;}
.Floating_Text_Color_4{color:#2CA8DE;}
.Floating_Text_Color_5{color:#E64519;}
.Floating_Text_Color_6{color:#D5A3F8;}
.Floating_Text_Color_7{color:#355AC5;}
.Floating_Text_Color_8{color:#2B3953;}
.Floating_Text_Color_9{color:#000000;}


.Top_Right_Top_Button{width:181px;height:180px;cursor:pointer;}
.Top_Right_Top_Button .Top_Right_Top_Text{width:181px;height:130px;font-size:20px;font-family:malgun gothic;font-weight:bold;line-height:30px;display:table-cell;vertical-align:middle;margin:0 auto;margin:5px;padding:2px 5px 0 5px;}

@media screen and (max-width:420px){
.Top_Right_Top_Button{width:100px;height:100px;cursor:pointer;background-size:cover;}
.Top_Right_Top_Button .Top_Right_Top_Text{width:100px;height:70px;font-size:12px;font-family:malgun gothic;font-weight:bold;line-height:20px;display:table-cell;vertical-align:middle;margin:0 auto;margin:5px;padding:2px 5px 0 5px;}
}	

.Bottom_Form_Close{max-width:800px;margin:0 auto;text-align:right;padding-bottom:7px;}
.Bottom_Form_Pc{position:fixed;z-index:1000;bottom:0px;width:100%;background-color:#1E1E1E;}
.Bottom_Form_Pc_Global{float:left;padding:0 10px 10px 0;}
.Bottom_Form_Pc_Global_Terms{clear:both;padding:0 10px 10px 0;}
@media screen and (min-width:800px){
.Bottom_Form_Pc_Box{display:table;margin:0 auto;width:800px;}
.Bottom_Form_Pc_Box_In{display:table-cell;padding-right:10px;}
.Bottom_Form_Pc_Box_Button{display:table-cell;vertical-align:middle;width:200px;border-radius:5px;text-align:center;text-align:center;font-size:16px;font-weight:bold;cursor:pointer;}
.Bottom_Form_Pc_Box_Button a{color:#ffffff;font-weight:bold;display:block;font-size:18px;}
}
@media screen and (max-width:800px){
.Bottom_Form_Pc_Box{overflow:hidden;width:100%;}
.Bottom_Form_Pc_Box_In{overflow:hidden;}
.Bottom_Form_Pc_Box_Button{border-radius:5px;text-align:center;}
.Bottom_Form_Pc_Box_Button a{color:#ffffff;text-align:center;display:block;font-size:16px;font-weight:bold;height:50px;line-height:50px;}
}

.Layer_Center_Form_Input_Box{position:fixed;z-index:1001;top:0px;width:100%;height:100%;}
.Layer_Center_Form_Input_Box_Table{display:table;width:100%;height:100%;}
.Layer_Center_Form_Input_Box_Table_cell{display:table-cell;vertical-align:middle;width:100%;}

@media screen and (min-width:400px){
.Layer_Center_Form_Box{width:500px;margin:0 auto;text-align:center;}
.Layer_Center_Form_Title .Left_Box{float:left;font-size:30px;color:#0A223D;font-weight:bold;width:350px;overflow:hidden;white-space:nowrap; text-overflow:ellipsis;text-align:left;}
}
@media screen and (max-width:420px){
.Layer_Center_Form_Box{width:340px;margin:0 auto;text-align:center;}
.Layer_Center_Form_Title .Left_Box{float:left;font-size:24px;color:#0A223D;font-weight:bold;width:250px;overflow:hidden;white-space:nowrap; text-overflow:ellipsis;text-align:left;}
}

.Layer_Center_Form_Alpha{position:absolute;top:0px;z-index:1000;filter:alpha(opacity=80);opacity: 0.8;background-color: #000000;width:100%;height:100%;display:;}
.Layer_Center_Form_Title{overflow:hidden;padding-bottom:20px;border-bottom:1px #D1D1D1 solid;margin-bottom:20px;}
.Layer_Center_Form_Title .Right_Box{float:right;}

.Layer_Center_Form_Title .Title_Color_Box1{color:#000000}
.Layer_Center_Form_Title .Title_Color_Box2{color:#ffffff}

@media screen and (min-width:400px){
.Layer_Right_Form_Box{position:fixed;z-index:1001;right:10px;width:400px;height:100%;}
.Layer_Right_Form_Title .Left_Box{float:left;font-family:malgun gothic;font-size:30px;color:#0A223D;font-weight:bold;width:300px;overflow:hidden;white-space:nowrap; text-overflow:ellipsis;}
}
@media screen and (max-width:420px){
.Layer_Right_Form_Box{position:fixed;z-index:1001;right:0px;width:340px;height:100%;top:-10px;}
.Layer_Right_Form_Title .Left_Box{float:left;font-family:malgun gothic;font-size:24px;color:#0A223D;font-weight:bold;width:250px;overflow:hidden;white-space:nowrap; text-overflow:ellipsis;}
}

.Layer_Right_Table{display:table;height:100%;}
.Layer_Right_Table_Tr{display:table-cell;vertical-align:middle;}

.Layer_Right_Form_Title .Title_Color_Box1{color:#000000}
.Layer_Right_Form_Title .Title_Color_Box2{color:#ffffff}
.Layer_Right_Form_Alpha{position:absolute;z-index:1000;filter:alpha(opacity=80);opacity: 0.8;background-color: #000000;width:100%;height:100%;top:0px;}
.Layer_Right_Form_Title{overflow:hidden;padding-bottom:20px;border-bottom:1px #D1D1D1 solid;margin-bottom:20px;}
.Layer_Right_Form_Title .Right_Box{float:right;}
.H_100p{height:100%;}


.TOP_Bottom_Fixed_Button_Box{position:fixed;z-index:1000;bottom:0px;width:100%;}
.TOP_Bottom_Fixed_Button{height:50px;line-height:50px;text-align:center;}
.TOP_Bottom_Fixed_Button a{color:#ffffff;text-align:center;display:block;font-size:16px;font-weight:bold;}

.Com_Layer_Box{position:fixed;z-index:1001;top:0px;width:100%;height:100%;overflow-y:scroll;}
.Com_Layer_Box_Table{display:table;width:100%;height:100%;}
.Com_Layer_Box_Table_cell{display:table-cell;vertical-align:middle;width:100%;}
.Com_Ment_Box{margin:0 auto;text-align:center;}
.Com_M_Box{overflow:hidden;margin:100px auto;width:100%;}
.Com_M_Box .M_Img{text-align:center;padding-bottom:40px;}
.Com_M_Box .M_Text{font-size:20px;color:#000000;font-weight:bold;text-align:center;font-family:Doutm;padding-bottom:30px;word-break:break-all;line-height:40px;padding:0 20px;margin-bottom:20px;}
.Com_M_Box .M_Ment{font-size:14px;color:#414141;font-family:Doutm;text-align:center;font-weight:bold;background-color:#EEEFEF;height:40px;line-height:40px;}
.Com_P_Box{overflow:hidden;margin:100px auto;width:500px;}
.Com_P_Box .P_Img{text-align:center;padding-bottom:40px;}
.Com_P_Box .P_Text{font-size:30px;color:#000000;font-weight:bold;text-align:center;font-family:Doutm;padding-bottom:30px;word-break:break-all;line-height:40px;margin-bottom:20px;}
.Com_P_Box .P_Ment{font-size:16px;color:#414141;font-family:Doutm;text-align:center;font-weight:bold;background-color:#EEEFEF;height:50px;line-height:50px;}



.Plugin_Bgcolor_Style1{background-color:#ffffff !important;}
.Plugin_Color_Style1{color:#ffffff !important;}

.Plugin_Bgcolor_Style2{background-color:#F8F8F8 !important;}
.Plugin_Color_Style2{color:#F8F8F8 !important;}

.Plugin_Bgcolor_Style3{background-color:#70B237 !important;}
.Plugin_Color_Style3{color:#70B237 !important;}

.Plugin_Bgcolor_Style4{background-color:#2CA8DE !important;}
.Plugin_Color_Style4{color:#2CA8DE !important;}

.Plugin_Bgcolor_Style5{background-color:#E64519 !important;}
.Plugin_Color_Style5{color:#E64519 !important;}

.Plugin_Bgcolor_Style6{background-color:#D5A3F8 !important;}
.Plugin_Color_Style6{color:#D5A3F8 !important;}

.Plugin_Bgcolor_Style7{background-color:#355AC5 !important;}
.Plugin_Color_Style7{color:#355AC5 !important;}

.Plugin_Bgcolor_Style8{background-color:#2B3953 !important;}
.Plugin_Color_Style8{color:#2B3953 !important;}

.Plugin_Bgcolor_Style9{background-color:#000000 !important;}
.Plugin_Color_Style9{color:#000000 !important;}

.Global_layout_two_box{overflow:hidden;}
.Global_layout_two_left_box{float:left;width:48%;}
.Global_layout_two_right_box{float:right;width:48%;}





.input_style_PNA_box{overflow:hidden; padding-top:4px;}
.input_style_PNA_box .input_box{float:left;width:-webkit-calc(100% - 130px);width:-moz-calc(100% - 130px);width:calc(100% - 130px);}
.input_style_PNA_box .input_box input{border:1px #a0a0a0 solid;width:100%;height:40px;line-height:40px;text-indent:10px;}
.input_style_PNA_box .input_button_box{float:right;border:1px #a0a0a0 solid;height:38px;width:120px;line-height:38px;text-align:center;background-color:#a0a0a0;}
.input_style_PNA_box .input_button_box a{color:#ffffff;display:block;font-weight:bold;}


/*라디오박스(버튼형)*/
.Radio_Button_N{
	overflow:hidden;
	width:100% !important;
}

.Radio_Button_N input[type="radio"],
.Radio_Button_N input[type="radio"] + label:before,
.Radio_Button_N input[type="radio"] + label:after{
	display:none;
}

.Radio_Button_N input[type="radio"] + label{
	display: inline-block;
	cursor: pointer;
	text-align: center;
	font-size:14px;
	border-radius:3px;
	box-sizing: border-box;
	height:40px;
	line-height:36px;
	width:100%;
}

.Radio_Button_N .Sort_1{
	float:left;
	width:100%;
}


.Radio_Button_N .Sort_2{
	float:left;
	width:49%;
}	

.Radio_Button_N .Sort_3{
	float:left;
	width:32%;
}	

.Radio_Button_N .Sort_4{
	float:left;
	width:23.5%;
}

.Radio_Button_N .Sort_5{
	float:left;
	width:18.4%;
}

.Radio_Button_N .Mg-l-2{
	margin-left:2%;	
}



 @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .blinking-text {
      animation: blink 1s infinite; /* 1초 간격으로 무한 반복 */
    }
	