@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);


html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend input, textarea, button, select{
 vertical-align: baseline;
 font-family: inherit;
 font-weight: inherit;
 font-style: inherit;
 font-size: 100%;
 outline: 0;
 padding: 0;
 margin: 0;
 border: 0;
 }
 
 
* { margin:0; padding:0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
ul, li {list-style:none; }
html { width:100%; font-size: 62.5%; }
body { width:100%; height:100%; line-height:1; color:#000; font-size:1em; font-family:'나눔고딕', 'nanumgothic', 'NanumGothic', sans-serif; overflow-y: visible !important;
}
img { vertical-align:middle; border:none; }
a { text-decoration:none; cursor:pointer;}

input, button { vertical-align:middle; border:none; font-family:'나눔고딕', 'nanumgothic', 'NanumGothic', sans-serif; }
textarea { border:none; }
.red {color:#ee0000;}

.m_wrap .custom_request { width:100%; display:block; margin:0 auto;  text-align:center; }
.m_wrap .custom_request h1 { font-weight:700; font-size:28px; letter-spacing:-1.5px; padding:50px 0 20px 0; text-align:center; color: #fcd4a0; }
.m_wrap .custom_request .list { width:100%; float:left; display:block; padding:0 10px; background:url(img/db_bg.jpg)no-repeat  center; background-size:cover; }

.m_wrap .roll_tbl_hd th { color: #fff;font-size: 15px; font-weight: 500;height: 36px;line-height: 36px; border-top:2px solid #fff; border-bottom:2px solid #fff; text-align: center; }
.m_wrap .roll_tbl_hd { width:100%;}
.m_wrap .roll_tbl_cnt { overflow: hidden; height: 200px; margin-bottom: 30px; }
.m_wrap .roll_tbl_cnt table { width:100%; text-align: center; position: relative; height: 200px; }
.m_wrap .roll_tbl_cnt table tr td { color: #fff; border-bottom:1px solid #666; margin-bottom:20px; padding:10px 0; font-weight:300; font-size: 14px; line-height:18px; }


/* MOBILE
------------------------------------------------------------------------------------------------------------*/

.m_wrap { width:100%; overflow:hidden; max-width:640px; margin:0 auto;}
.m_wrap .contents img { width:100%; }

.m_wrap .top_fix { position:fixed; width:100%; max-width:640px; min-width:320px; height:52px; background:#fff; border-bottom:1px solid #39437c; z-index:1000; letter-spacing:-1px; }
.m_wrap .top_fix .left { position:absolute; top:10%; left:0; }

.m_wrap .top_fix .right { position:absolute; top:14%; right:2%; }
.m_wrap .top_fix .right a { padding:8px 12px; background:#e8340c; border-radius:6px; font-size:1.6em; line-height:120%; color:#fff; font-weight:500; text-align:center; display:inline-block; }
.m_wrap .top { width:100%; position:fixed; bottom:0px; max-width:640px; z-index:9999; padding:0.5%; background:url(img/top_fix.jpg)no-repeat center; background-size:100% ;}

.m_wrap .top .count { font-weight:600; font-size:2rem; color:#fff; padding:0 2%}
.m_wrap .top .count span { margin:0 1%; background-color:#fff; color:#000; border-radius:5px; padding:0.6% 1%; }
.m_wrap .top img { width:100%; padding:1.5% 0; }



/*form */
.m_wrap .formArea { width:100%; margin:0 auto; padding:0 15px; overflow: hidden;}
.m_wrap .formGroup { text-align:center; }

.m_wrap .input_style:focus, .m_wrap .sel_style:focus, .m_wrap textarea_style:focus { border-color:#303f99; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fff; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fff; }

.m_wrap .inner {padding-bottom:20px; background-color:#f5f0ea;}
.m_wrap .inner h1 {font-weight:700; font-size:28px; letter-spacing:-1.5px; padding:30px 0 10px 0; text-align:center; color:#e8340c; }

/* COMMON
------------------------------------------------------------------------------------------------------------*/

.formGroup:before, .formGroup:after { content: " "; display:table; }
.formGroup:after { clear:both; }

.m_wrap .form_table { width:100%; padding:20px 0; border-collapse:collapse; margin:0 auto; }
.m_wrap .form_table tbody tr { border-bottom:1px solid #ccc; border-top:1px solid #ccc;}
.m_wrap .form_table tbody th { padding:10px 5px; vertical-align:middle; text-align:left; line-height:22px; font-size:16px; font-weight:600; letter-spacing:-1.5px; }
.m_wrap .form_table tbody td { padding:10px 5px; vertical-align:middle; text-align:left; line-height:22px; font-size:16px; }

.m_wrap .input_style:focus, .sel_style:focus, textarea_style:focus { border-color:#9f9f9f; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fff; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fff;}

.m_wrap label.tit { height:35px;  color:#f4f5f9; font-weight:600; line-height:35px; text-align:center; display:block; }
.m_wrap .input_style { width:100%; padding-left:5px; height:40px; border:1px solid #9f9f9f; font-size:14px; }
.m_wrap .sel_style { width:100%; padding-left:5px; height:40px; border:1px solid #9f9f9f; font-size:14px; vertical-align:middle; }
.m_wrap .textarea_style { width:100%; padding:5px; height:60px; border:1px solid #9f9f9f; font-size:14px; resize:none;}

.m_wrap .submit_box {overflow:hidden; padding-top:10px; }
.m_wrap .submit_box button {float:left; width:100%; padding:12px 0; border-radius:8px; font-size:22px; font-weight:600; cursor:pointer; background:#e8340c; color:#fff; letter-spacing:-0.5px;}


.m_wrap .video-container {position:relative; padding-bottom:56.25%; height:0; overflow:hidden;} 
.m_wrap .video-container iframe, .m_wrap .video-container object, .m_wrap .video-container embed {position:absolute; top:0; left:0; width:100%; height:100%;} 

/* popup CSS */
.complete_wrap { position: fixed;top: 0;left: 0;width: 100%;height: 100vh;z-index: 10000; display:none;} 
.complete_wrap .bg { position: fixed;top: 0;left: 0;width: 100%;height: 100vh;background: rgba(0,0,0,0.8);z-index: 10001; }
.complete_wrap .inner { position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%); height: 365px; max-height: 90vh;background: #fff;z-index: 10002; }
.complete_wrap .inner { width:90%; overflow:hidden; border-bottom:0px solid #000; background-color:none;color:#fff; font-size:14px; line-height:0; max-width:500px; margin:0 auto;}
.complete_wrap .inner .close { position: absolute;top: 20px;right: 20px; width:20px; font-weight:600; }
.complete_wrap .inner .close img { width: 100%;height: 100%; }
.complete_wrap .inner .iframe { height:100%;width:100%;border:0; overflow:hidden;}